body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}


.menu ul{
    font-size: 48px;
}


.landing{
    background-image: url(Images/Landing.png);
    background-size: cover;
}

.cto{
    background-image: url(Images/image\ 4.png);
    height: 50%;
    /* background-size: cover; */
    /* height: 720px; */
}

